@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f3f3f3;
}

@layer base {
  :root {
    --color-primary: 26 188 156;
  }
}

@layer components {
  .rating {
    display: inline-block;
    width: fit-content;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ffbb00;
    transition: color 0.3s;
  }
  
}